body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
   
}
#shadow{
    color: orangered;
    text-shadow: 5px 5px 10px gray
}
.flexible{
    display: flex;
}
.resize{
    width: 50%;
    padding: 2%;
    margin: 3%;
}
.half-width{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px gray;
}
a:hover{
    border: 1px solid black;
}
.margin{
    margin-top: 10%;
}
.resize-2{
    margin-left: 50%;
}
.background{
    background-image: url(images/rsz_frame_58_1.png);
    padding: 15%;
    background-repeat: no-repeat;
    background-size: 1350px;
    margin-top: 10%;
}
.center{
    text-align: center;
    padding:5% 15% 5% 15%;
    margin-top: 5%;
}
.half-size{
    padding: 5%;
    margin: 15px;
    box-shadow: 5px 5px 15px 5px gray;
    border-radius: 15px;
}
#radius{
    width: 80%;
    border-radius: 15px;
}
footer{
    text-align: center;
    margin-top: 10%;
    border: 2px solid;
    padding-bottom: 5%;
    background-image: linear-gradient( rgb(46, 46, 80) , rgb(31, 31, 65));
    color: white;
}
#orange{
    color: rgb(255, 123, 0);
}